.layout {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: repeat(12, 1fr);
    height: inherit;
}
.main {
    grid-row: 2 / 3;
    grid-column: 1 / 13;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 33% 67%;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
    border-bottom: solid lightgrey;
}

.inputPanel {
    grid-column: 1 / 2;
}

.generatedContent {
    grid-column: 2/3;
    border-left: solid lightgrey;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.inputOption {
    padding: 15px;
    border-bottom: .75px solid grey;
}

.document {
    background-color: white;
    height: 800px;
    padding: 25px;
}

.options {
    padding-left: 10px;
}

.section {
    border: solid;
    padding: 10px;
}

.configure {
    float: right;
}